.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline;}
nav li a{color: #333300}
body{
    text-align:center;
    background-color:#666699;
    color: #333300;

}
